<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Founded at:</strong>
  <%= @club.founded_at %>
</p>

<p>
  <strong>Club image url:</strong>
  <%= @club.club_image_url %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
